@font-face {
    font-family: 'Young Serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}


body {
    background-color: hsl(30, 54%, 90%);
    margin: 0;
}

.main-div {
    background-color: hsl(0, 0%, 100%);
    margin: 100px auto;
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: hsl(30, 10%, 34%);
    font-weight: 400;
    font-family: 'Outfit';

}

h1 {
    color: hsl(24, 5%, 18%);
    font-weight: 700;
}


h2 {
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}

h3 {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

h1,
h2 {
    font-family: 'Young Serif';
}

img {
    width: 100%;
    border-radius: 10px;
}

.indented-header {
    text-indent: 30px;
}

.indented-text {
    padding-left: 50px;
    text-indent: 30px;
}

.note {
    background-color: hsl(330, 100%, 98%);
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
}

li {
    padding: 10px;
}

li::marker {
    font-weight: 700;
    color: hsl(14, 45%, 36%);

}

.horizontal-line {
    width: 100%;
    margin: 5px auto;
    background-color: rgba(0, 0, 0, 0.119);
    height: 1px;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

.table-item {
    justify-self: flex-start;
    width: 50%;
}

.col2 {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

@media screen and (max-width: 660px) {
    .main-div {
        width: 100vw;
        margin: 0;
        box-sizing: border-box;
        border-radius: 0;

        padding: 0;
    }

    .custom-padding {

        padding: 30px;
    }

    img {
        width: 100vw;
        border-radius: 0;
    }
}